.nav {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
  gap: 50px;
}

.nav__right {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 50px;
    position: fixed;
  }

  .nav__right {
    gap: 50px;
    margin-right: auto;
  }
}
